@import 'normalize.css';
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --breakpoints-sm: 576px;
  --breakpoints-md: 768px;
  --breakpoints-lg: 992px;
  --breakpoints-xl: 1200px;

  --screen-sm: 540px;
  --screen-md: 720px;
  --screen-lg: 960px;
  --screen-xl: 1140px;
}

.container {
  margin: 0 auto;
  padding: 0 10px;
  width: 100%;
}

/* SM */
@media screen and (min-width: var(--breakpoints-sm)) {
  .container {
    max-width: var(--screen-sm);
  }
}

/* MD */
@media screen and (min-width: var(--breakpoints-md)) {
  .container {
    max-width: var(--screen-md);
  }
}

/* LG */
@media screen and (min-width: var(--breakpoints-lg)) {
  .container {
    max-width: var(--screen-lg);
  }
}

/* XL */
@media screen and (min-width: var(--breakpoints-xl)) {
  .container {
    max-width: var(--screen-xl);
  }
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  outline: none;
}

::selection {
  background-color: #e11d48 !important;
  color: white;
}

.item-list::-webkit-scrollbar {
  width: 8px;
}

.item-list::-webkit-scrollbar-thumb {
  background-color: #737373;
  border-radius: 5px;
  border: 2px solid #171717;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}
